@font-face {
    font-family: "NEXON Lv2 Gothic Bold";
    src: url("./NEXON\ Lv2\ Gothic\ Bold.ttf");
}

@font-face {
    font-family: "NEXON Lv2 Gothic Light";
    src: url("./NEXON\ Lv2\ Gothic\ Light.ttf");
}

@font-face {
    font-family: "NEXON Lv2 Gothic Medium";
    src: url("./NEXON\ Lv2\ Gothic\ Medium.ttf");
}
